<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gane.maple.dao.UserDAO">

    <resultMap id="BaseResultMap" type="com.gane.maple.entity.User">
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR" javaType="string"/>
    </resultMap>
    <insert id="inser" parameterType="com.gane.maple.entity.User">
        insert into user (user_id,user_name) values (#{userId} , #{userName});
    </insert>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select user_id, user_name from user where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select user_id, user_name from user where user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="selectByUserIdWithoutDataSourceRouting" resultMap="BaseResultMap" parameterType="java.lang.String">
        select user_id, user_name from user where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="selectByUserNameWithoutDataSourceRouting" resultMap="BaseResultMap" parameterType="java.lang.String">
        select user_id, user_name from user where user_name = #{userName,jdbcType=VARCHAR}
    </select>

</mapper>